<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/me.png">
        <p>This app is created by Nadim Ansari. It is uses Mapbox and Wether Stack</p>
    </div>
    
    {{>footer}}
</body>

</html>